<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Penguin Ninja.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7462779D1C6C43C800999ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>746277B51C6C43C800999ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>746277C01C6C43C800999ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
